<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="background"></div>
            <div class="content">
                <h2>STUDENT LOGIN</h2>
                <br>
            </div>
        </div>
        <div class="right-container">
            {% if messages %}
            <p class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </p>
            {% endif %}
            <form method="POST" action="{% url 'student-login' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>
    